.form {
    display: inline-block;
    vertical-align: top;
    position: relative;
  

  &__input[type="search"]{
    outline: none;
    border: 2px solid #222;
    padding: 5px 100px 5px 30px;
    display: block;
    width: 113%;
    height: 50px;
    background: #fff;
    border-radius: 25px;
  }

  &__button[type="submit"]{
    position: absolute; top: 10px; left: 300px;
    z-index: 9;
    outline: none;
    border: none;
    display: inline-block;
    background: no-repeat url(../assets/arrow/arrow-right.svg) red 50%;
    color: #fff;
    padding: 14px 14px;
    border-radius: 25px;
    cursor: pointer;
  }
}